.classes-content {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.video-content {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}