.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h2 {
  color: #333;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span{
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
input, textarea {
  margin-bottom: 0px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}