body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
}

#navbar {
  display: flex;
  flex-direction: row-reverse;
}

.navigation a {
  margin: 0px 10px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  /* font-size: medium; */
}

#about {
  text-align: right;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#about .img-box {
  text-align: center;
  margin-bottom: 20px;
  /* border: 1px solid navy; */
  border-radius: 100%;
  width: 300px;
}

#about .img-box img {
  width: 100%;
  height: auto;
}

#about p {
  font-size: large;
  line-height: 1.6;
  width: 60%;
  position: absolute;
  top: 120px;
  left: 450px;
  text-align: justify;
}

#about-me {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#about-me .img-box {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 100%;
  width: 300px;
  position: relative;
  left: 1024px;
}

#about-me .img-box img {
  width: 100%;
  height: auto;
}

#about-me p {
  font-size: large;
  line-height: 1.6;
  width: 60%;
  position: absolute;
  top: 360px;
  left: 20px;
  text-align: justify;
}

footer {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer .purpose {
  display: none;
  align-items: justify;
}

footer .purpose p {
  position: relative;
  top: 25px;
  left: -48px;
}

footer .purpose img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer .links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .links a {
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

footer .media {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

footer .media a img{
  width: 30px;
  height: 30px;
}

footer .copy {
  width: 18%;
  text-align: right;
  font-size: small;
  position: relative;
  top: 25px;
  left: -48px;
}
