.project-content {
  margin-top: 20px;
  position: absolute;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project-section {
  display: block;
  width: 100%;
  position: absolute;
  top: 285px;
  margin: 20px auto;
}

.project-section .pr1 {
  display: grid;
  gap: 10px;
  text-align: center;
  grid-template-columns: 2fr 2fr 2fr 2fr;
}

footer{
  position: relative;
  top: 600px;
}