.tags-content {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.all-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.common-tags {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: #555;
  text-align: justify;
  display: flex;
  margin: auto;
  transition: background-color 0.3s, color 0.3s;
}

.common-tags ul li {
  list-style: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.example-tag h3 {
  margin-bottom: 10px;
  text-align: center;
}

.all {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: #555;
  text-align: justify;
  display: flex;
  margin: auto;
  transition: background-color 0.3s, color 0.3s;
}

.all ul li {
  list-style: linear-gradient(90deg, #ff7e5f, #feb47b);
}
.code {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  color: #555;
  text-align: justify;
  display: flex;
  margin: auto;
  transition: background-color 0.3s, color 0.3s;
}


